<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<div th:fragment="header">
        <link rel="stylesheet" th:href="@{/css/join.css}" >
  <div class="navbar">
    <a href="/" class="navlogo">POFO</a>
    <button class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu">
          <path d="M3 12h18M3 6h18M3 18h18"/>
        </svg>
      </button>
    <div class="navlinkwrap">
      <a href="/" class="navlink selectedlink">Home</a>
      <a  href="/pofo/mypofo" class="navlink" sec:authorize = "isAuthenticated()" >My Portfolio</a>
    </div>
    <div class="buttonwrap">
      <button class="createbtn selectedbtn"  sec:authorize = "isAnonymous()"  data-bs-toggle="modal" data-bs-target="#modal2">CREATE</button>
      <button class="createbtn" data-bs-toggle="modal"  sec:authorize = "isAnonymous()"  data-bs-target="#modal">SIGN IN</button>
      <button class="createbtn selectedbtn"sec:authorize = "isAuthenticated()"  onclick="location.href='member/logout' ">Logout</button>
      
    </div>
  </div>
  
  
    <!-- 모달 시작 -->
    <div id="modal" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content landingpage rounded-5 box">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 class="fw-bold mb-0">로그인</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body p-5 pt-0">
            <form th:action="@{/login}" method="post">
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" id="memberEmail" placeholder="name@example.com"
                  name="memberEmail">
                <label for="floatingInput" >Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="memberPassword" placeholder="Password"
                  name="memberPassword">
                <label for="floatingPassword" >Password</label>
              </div>
               <input type="hidden" name="${_csrf.parameterName}"value="${_csrf.token}">	
              <button class="w-100 mb-2 btn btn-lg rounded-4" type="submit"
               >Sign in</button>
            </form>

            <small class="text-muted"> 
           
      <button class="btnToA" data-bs-toggle="modal" data-bs-target="#modal2">회원가입</button> | <a data-bs-toggle="modal" href="#modal2"
                onclick="zz()">비밀번호 찾기</a></small>
            <!-- <button data-bs-toggle="modal" data-bs-target="#modal2" data-bs-dismiss="modal">dddd</button> -->
            <hr class="my-4">
            <h2 class="fs-5 fw-bold mb-3">Or</h2>
            <form method="get" th:action="@{/oauth2/authorization/google}">
              <button class="w-100 py-2 mb-2 btn btn-outline-dark rounded-4" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-google"
                  viewBox="0 0 16 16">
                  <path
                    d="M15.545 6.558a9.42 9.42 0 0 1 .139 1.626c0 2.434-.87 4.492-2.384 5.885h.002C11.978 15.292 10.158 16 8 16A8 8 0 1 1 8 0a7.689 7.689 0 0 1 5.352 2.082l-2.284 2.284A4.347 4.347 0 0 0 8 3.166c-2.087 0-3.86 1.408-4.492 3.304a4.792 4.792 0 0 0 0 3.063h.003c.635 1.893 2.405 3.301 4.492 3.301 1.078 0 2.004-.276 2.722-.764h-.003a3.702 3.702 0 0 0 1.599-2.431H8v-3.08h7.545z" />
                </svg>
                Sign up with google
              </button>
            </form>
            <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" type="submit">
              <svg class="bi me-1" width="16" height="16">
                <use xlink:href="#facebook" />
              </svg>
              Sign up with Facebook
            </button>
            <!-- <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-4" type="submit">
            <svg class="bi me-1" width="16" height="16"><use xlink:href="#github"/></svg>
            Sign up with GitHub
          </button>-->
          </div>
        </div>
      </div>
    </div>

    <!-- 모달끝 -->
        <!-- 회원가입 모달 시작 -->
    <div id="modal2" class="modal fade">
      <div class="modal-dialog" role="document">
        <div class="modal-content landingpage rounded-5 box">
          <div class="modal-header p-5 pb-4 border-bottom-0">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <h2 class="fw-bold mb-0">회원가입</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body p-5 pt-0">
            <form th:action="@{/member/join}" method="post" id="joinForm">
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="nickname" placeholder="nickname"
                  name="nickname">
                <label for="floatingInput" >Nick Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="text" class="form-control rounded-4" id="name" placeholder="name"
                  name="name">
                <label for="floatingInput" >Name</label>
              </div>
              <div class="form-floating mb-3">
                <input type="email" class="form-control rounded-4" id="email" placeholder="name@example.com"
                  name="email">
                <label for="floatingInput" >Email address</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="password" placeholder="Password"
                  name="password">
                <label for="floatingPassword" >Password</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control rounded-4" id="rePassword" placeholder="Password"
                  name="rePassword">
                <label for="floatingPassword" >RePassword</label>
              </div>
              <button class="w-100 mb-2 btn  rounded-4"  style="border-color: white; color: white;" type="submit"
               >Sign up</button>
            </form>
            
          </div>
        </div>
      </div>
    </div>

    <!-- 모달끝 -->
    <script type="text/javascript">
  //joinform_check 함수로 유효성 검사
 	 $("#joinForm").submit(function (event) {
         event.preventDefault();
         var submit = this.submit();
      //변수에 담아주기
      var pwd = document.getElementById("password");
      var repwd = document.getElementById("rePassword");
      var uname = document.getElementById("nickname");
      var mobile = document.getElementById("mobile");
      var email_id = document.getElementById("email");
      var agree = document.getElementById("agree");


      if (uname.value == "") {
        alert("닉네임을 입력하세요.");
        uname.focus();
        return false;
      };

      if (email_id.value == "") {
        alert("이메일 주소를 입력하세요.");
        email_id.focus();
        return false;
      }


      if (pwd.value == "") {
        alert("비밀번호를 입력하세요.");
        pwd.focus();
        return false;
      };

      //비밀번호 영문자+숫자+특수조합(8~25자리 입력) 정규식
      var pwdCheck = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;

      if (!pwdCheck.test(pwd.value)) {
        alert("비밀번호는 영문자+숫자+특수문자 조합으로 8~25자리 사용해야 합니다.");
        pwd.focus();
        return false;
      };

      if (repwd.value !== pwd.value) {
        alert("비밀번호가 일치하지 않습니다..");
        repwd.focus();
        return false;
      };

      let param = {
          "email": email_id.value
      }
      $.ajax({
          anyne: true,
          type: 'POST',
          contentType: 'application/json',
          data: JSON.stringify(param),
          url: "/validate/email",
          dataType: "text",
          async: false,
          success: function (data) {
        	  var test = data[9];
        	  if(test =="0"){
        		 submit;
        	  }else{
        		  alert("이메일이 존재합니다.");
        	  }
          },
      })
  });
    </script>
</div>

</html>